@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

@font-face {
    font-family: 'SuperMario256';
    src: url('../fonts/SuperMario256.woff2') format('woff2'),
        url('../fonts/SuperMario256.woff') format('woff'),
        url('../fonts/SuperMario256.ttf') format('ttf');
}

body {

    font-family: 'Roboto', sans-serif;
}

h2 {
    font-family: 'SuperMario256', sans-serif;
}

.bg-colorPrincipal {
    background-color: #80eb52;
}

.text-colorPrincipal {
    color:#5fc036;
}

.btn-exterior-colorPrincipal {
    border-color: #80eb52;
}

.btn-exterior-colorPrincipal:hover {
    background-color: #40ab11;
    color: #fff;
}

.bg-principal{
    background-color:#80eb52;
}

.bg-secundario{
    background-color: #5fc036;
}

.bg-terciario{
    background-color: #40ab11;
}

.bg-cuaternario{
    background-color: #36910f;
}

.btn-footer-colorprincipal:hover{
    color:#80eb52
}